:root {
  --blue: #1c74eb;
  --indigo: #6610f2;
  --purple: #943a99;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #fab901;
  --green: #28a745;
  --teal: #237b94;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #f65b66;
  --secondary: #237b94;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #fab901;
  --danger: #dc3545;
  --light: #fbfdff;
  --dark: #455b66;
  --pale: #f0f6f9;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1144px; }

:root, html {
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  margin: 0;
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: #253238;
  text-align: left;
  background-color: #fff; }
